<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DaStankBankUploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DaStankBankUploader.Properties.Settings>
            <setting name="ytUser" serializeAs="String">
                <value />
            </setting>
            <setting name="ytPass" serializeAs="String">
                <value />
            </setting>
            <setting name="wpUser" serializeAs="String">
                <value />
            </setting>
            <setting name="wpPass" serializeAs="String">
                <value />
            </setting>
            <setting name="firstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="outputpath" serializeAs="String">
                <value />
            </setting>
            <setting name="bgimage" serializeAs="String">
                <value />
            </setting>
            <setting name="wpURL" serializeAs="String">
                <value>http://www.theootz.com/dastankbank/</value>
            </setting>
            <setting name="ytDesc" serializeAs="String">
                <value>Da Stank Bank
Music Blog For Drum &amp; Bass, Dubstep, Electro

Youtube:
http://www.youtube.com/user/Dastankbank
Blog:
http://www.theootz.com/dastankbank/
Facebook:
http://www.facebook.com/pages/Toronto-ON/Da-Stank-Bank/257926353411?ref=ts</value>
            </setting>
            <setting name="wpPost" serializeAs="String">
                <value>%albumart%
&lt;object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="480" height="295" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"&gt;&lt;param name="allowFullScreen" value="true" /&gt;&lt;param name="allowscriptaccess" value="always" /&gt;&lt;param name="src" value="http://www.youtube.com/v/%YTID%&amp;hl=en_US&amp;fs=1&amp;rel=0&amp;color1=0x3873bd&amp;color2=0x3873bd" /&gt;&lt;param name="allowfullscreen" value="true" /&gt;&lt;embed type="application/x-shockwave-flash" width="480" height="295" src="http://www.youtube.com/v/%YTID%&amp;hl=en_US&amp;fs=1&amp;rel=0&amp;color1=0x3873bd&amp;color2=0x3873bd" allowscriptaccess="always" allowfullscreen="true"&gt;&lt;/embed&gt;&lt;/object&gt;</value>
            </setting>
        </DaStankBankUploader.Properties.Settings>
    </userSettings>
</configuration>