<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DaStankBankUploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DaStankBankUploader.Properties.Settings>
            <setting name="ytUser" serializeAs="String">
                <value />
            </setting>
            <setting name="ytPass" serializeAs="String">
                <value />
            </setting>
            <setting name="wpUser" serializeAs="String">
                <value />
            </setting>
            <setting name="wpPass" serializeAs="String">
                <value />
            </setting>
            <setting name="firstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="outputpath" serializeAs="String">
                <value />
            </setting>
        </DaStankBankUploader.Properties.Settings>
    </userSettings>
</configuration>